.event_content {
  color: #fff;
  font-size: 0.78125vw;
  margin-top: 1.5625vw;
  line-height: 1.5;
}
.event_content .text-dot {
  display: inline-block;
  width: 0.41666667vw;
  height: 0.41666667vw;
  background-color: #fcc723;
  border-radius: 50%;
  margin-right: 0.3125vw;
  margin-bottom: 0.10416667vw;
}
.event_content .dot-space {
  margin-left: 0.72916667vw;
}
.event_content .event-time {
  line-height: 1.30208333vw;
  width: 11.45833333vw;
  min-width: 168px;
  min-height: 19px;
  background: url('~assets/images/event/event3/time_bg.png') top left no-repeat;
  background-size: contain;
  display: inline-block;
  padding: 0 0.52083333vw;
  margin: 1.04166667vw 0 0.52083333vw 0;
}
.event_content .download-btn {
  position: relative;
  display: inline-block;
  width: 16.40625vw;
  height: 3.4375vw;
  background: url('~assets/images/event/down_btn_normal.png') center no-repeat;
  background-size: contain;
  transition: all 0.25s linear;
}
.event_content .download-btn::after {
  content: '';
  background-image: url('~assets/images/event/down_btn_hover.png'), url('~assets/images/event/down_btn_click.png');
}
.event_content .download-btn:hover {
  background-image: url('~assets/images/event/down_btn_hover.png');
}
.event_content .download-btn:active {
  background-image: url('~assets/images/event/down_btn_click.png');
}
.event_content .download-btn2 {
  position: relative;
  display: inline-block;
  width: 19.53125vw;
  height: 3.4375vw;
  background: url('~assets/images/event/down2_btn_normal.png') center no-repeat;
  background-size: contain;
  transition: all 0.25s linear;
}
.event_content .download-btn2::after {
  content: '';
  background-image: url('~assets/images/event/down2_btn_hover.png'), url('~assets/images/event/down2_btn_click.png');
}
.event_content .download-btn2:hover {
  background-image: url('~assets/images/event/down2_btn_hover.png');
}
.event_content .download-btn2:active {
  background-image: url('~assets/images/event/down2_btn_click.png');
}
.event_content.normal-event .event-txt .note {
  margin-top: 0.78125vw;
}
.event_content.normal-event .event-prize {
  display: flex;
  justify-content: space-around;
  margin-top: 2.60416667vw;
}
.event_content.normal-event .download-box {
  margin-top: 2.86458333vw;
  display: flex;
  justify-content: center;
}
.event_content.event1 .event-text .title-img {
  width: 33.22916667vw;
  height: 2.1875vw;
  background: url('~assets/images/event/event1/title.png') top left no-repeat;
  background-size: contain;
}
.event_content.event1 .event-text .note {
  line-height: 2.34375vw;
}
.event_content.event1 .event-prize {
  width: 100%;
  height: 19.27083333vw;
  background: url('~assets/images/event/event1/prize_bg.png') center no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 3.90625vw;
  margin-top: 0.78125vw;
}
.event_content.event1 .event-prize .prize-img {
  width: 100%;
  height: 10.41666667vw;
  margin-bottom: 1.82291667vw;
  background: url('~assets/images/event/event1/prize.png') center no-repeat;
  background-size: contain;
}
.event_content.event1 .event-bottom {
  position: absolute;
  bottom: 2.60416667vw;
  left: 50%;
  transform: translateX(-50%);
}
.event_content.event1 .event-bottom .download-btn {
  z-index: 99;
}
.event_content.event1 .event-bottom .download-img1 {
  width: 6.25vw;
  height: 5.98958333vw;
  background: url('~assets/images/event/event1/download_img1.png') center no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 11;
  bottom: 2.08333333vw;
  left: 0.10416667vw;
}
.event_content.event1 .event-bottom .download-img2 {
  width: 12.5vw;
  height: 14.58333333vw;
  background: url('~assets/images/event/event1/download_doll.png') center no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 10;
  bottom: 1.04166667vw;
  left: 0.78125vw;
}
.event_content.event2 .event-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.event_content.event2 .event-main .line_icon {
  width: 1.30208333vw;
  height: 28.64583333vw;
  background: url('~assets/images/event/line.png') top left no-repeat;
  background-size: contain;
  margin-top: -3.125vw;
}
.event_content.event2 .event-main .event-part {
  width: 23.95833333vw;
}
.event_content.event2 .event-main .event-part .event-txt .note {
  margin-top: 0.52083333vw;
}
.event_content.event2 .event-main .event-part .event-prize {
  margin-top: 1.82291667vw;
}
.event_content.event2 .event-main .event-part.first .title-img {
  width: 19.79166667vw;
  height: 2.1875vw;
  background: url('~assets/images/event/event2/title1.png') top left no-repeat;
  background-size: contain;
}
.event_content.event2 .event-main .event-part.first .event-prize {
  width: 100%;
  height: 12.29166667vw;
  background: url('~assets/images/event/event2/prize1.png') center no-repeat;
  background-size: contain;
}
.event_content.event2 .event-main .event-part.second .title-img {
  width: 15.625vw;
  height: 4.58333333vw;
  background: url('~assets/images/event/event2/title2.png') top left no-repeat;
  background-size: contain;
}
.event_content.event2 .event-main .event-part.second .event-prize {
  width: 100%;
  height: 12.29166667vw;
  background: url('~assets/images/event/event2/prize2.png') center no-repeat;
  background-size: contain;
}
.event_content.event2 .event-download {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: -1.30208333vw;
}
.event_content.event2 .event-download .download-btn2 {
  z-index: 5;
}
.event_content.event2 .event-download .download-doll {
  width: 7.8125vw;
  height: 6.25vw;
  background: url('~assets/images/event/event2/download-doll.png') top left no-repeat;
  background-size: contain;
  z-index: 6;
  margin-left: -2.60416667vw;
  margin-bottom: -0.46875vw;
}
.event_content.event3 .even-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.event_content.event3 .even-top .event-txt {
  width: 31.25vw;
}
.event_content.event3 .even-top .event-txt .title-img {
  width: 20.05208333vw;
  height: 2.1875vw;
  background: url('~assets/images/event/event3/title.png') top left no-repeat;
  background-size: contain;
}
.event_content.event3 .even-top .download-btn {
  margin-top: 3.125vw;
}
.event_content.event3 .event-prize {
  width: 100%;
  height: 21.61458333vw;
  background: url('~assets/images/event/event3/prize.png') top left no-repeat;
  background-size: contain;
  margin-top: 1.82291667vw;
}
.event_content.event4 .event-part.first .title-img {
  width: 28.64583333vw;
  height: 2.08333333vw;
  background: url('~assets/images/event/event4/title1.png') top left no-repeat;
  background-size: contain;
}
.event_content.event4 .event-part.first .event-prize {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 1.30208333vw;
}
.event_content.event4 .event-part.first .event-prize .prize-img {
  width: 13.02083333vw;
  height: 9.16666667vw;
}
.event_content.event4 .event-part.first .event-prize .prize-img.prize1 {
  background: url('~assets/images/event/event4/prize1-1.png') no-repeat;
  background-size: contain;
}
.event_content.event4 .event-part.first .event-prize .prize-img.prize2 {
  background: url('~assets/images/event/event4/prize1-2.png') no-repeat;
  background-size: contain;
}
.event_content.event4 .event-part.second {
  margin-top: 1.82291667vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.event_content.event4 .event-part.second .event-txt .title-img {
  width: 21.61458333vw;
  height: 4.6875vw;
  background: url('~assets/images/event/event4/title2.png') top left no-repeat;
  background-size: contain;
}
.event_content.event4 .event-part.second .event-txt .note {
  margin-top: 0.78125vw;
}
.event_content.event4 .event-part.second .event-QR {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: 0.67708333vw;
}
.event_content.event4 .event-part.second .event-QR .QR-box {
  margin-right: 1.30208333vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.event_content.event4 .event-part.second .event-QR .QR-box .OR-img {
  width: 5.20833333vw;
  height: 5.20833333vw;
  border: 0.15625vw solid #fcc723;
  outline: 0.15625vw solid #1e1f34;
  background-color: #fff;
  padding: 0.26041667vw;
}
.event_content.event4 .event-part.second .event-QR .QR-box .OR-img .QR-icon {
  width: 100%;
  height: 100%;
  background: url('~assets/images/event/event4/qr_icon.png') center no-repeat;
  background-size: contain;
}
.event_content.event4 .event-part.second .event-QR .QR-box .QR-title {
  color: #fcc723;
  line-height: 1.5;
  margin-top: 0.26041667vw;
}
.event_content.event4 .event-part.second .event-QR .QR-box .QR-name {
  margin-top: 0.26041667vw;
  display: flex;
  align-items: center;
}
.event_content.event4 .event-part.second .event-QR .QR-box .QR-name .weibo-icon {
  width: 1.25vw;
  height: 0.9375vw;
  display: inline-block;
  background: url('~assets/images/event/event4/weibo_icon.png') no-repeat;
  background-size: contain;
  margin-right: 0.15625vw;
}
.event_content.event4 .event-part.second .event-QR .QR-box .QR-name .wechat-icon {
  width: 1.14583333vw;
  height: 0.9375vw;
  display: inline-block;
  background: url('~assets/images/event/event4/wechat_icon.png') no-repeat;
  background-size: contain;
  margin-right: 0.15625vw;
}
.event_content.event4 .event-part.second .event-QR .QR-box .QR-link {
  margin-top: 0.52083333vw;
}
.event_content.event4 .event-part.second .event-QR .QR-box .QR-link.weibo {
  width: 5.20833333vw;
  height: 1.82291667vw;
  background: url('~assets/images/event/event4/weibo_btn_normal.png') no-repeat;
  background-size: contain;
  transition: all 0.25s linear;
}
.event_content.event4 .event-part.second .event-QR .QR-box .QR-link.weibo::after {
  content: '';
  background-image: url('~assets/images/event/event4/weibo_btn_hover.png'), url('~assets/images/event/event4/weibo_btn_click.png');
}
.event_content.event4 .event-part.second .event-QR .QR-box .QR-link.weibo:hover {
  background-image: url('~assets/images/event/event4/weibo_btn_hover.png');
}
.event_content.event4 .event-part.second .event-QR .QR-box .QR-link.weibo:active {
  background-image: url('~assets/images/event/event4/weibo_btn_click.png');
}
.event_content.event5 .event-txt .title-img {
  width: 36.19791667vw;
  height: 2.08333333vw;
  background: url('~assets/images/event/event5/title.png') no-repeat;
  background-size: contain;
}
.event_content.event5 .event-txt .note {
  width: 34.375vw;
}
.event_content.event5 .event-prize {
  padding: 0 1.82291667vw;
}
.event_content.event5 .event-prize .prize-img {
  width: 18.75vw;
  height: 13.02083333vw;
}
.event_content.event5 .event-prize .prize-img.prize1 {
  background: url('~assets/images/event/event5/prize1.png') no-repeat;
  background-size: contain;
}
.event_content.event5 .event-prize .prize-img.prize2 {
  background: url('~assets/images/event/event5/prize2.png') no-repeat;
  background-size: contain;
}
.event_content.event6 .event-txt .title-img {
  width: 22.39583333vw;
  height: 2.08333333vw;
  background: url('~assets/images/event/event6/title.png') no-repeat;
  background-size: contain;
}
.event_content.event6 .event-prize {
  height: 13.02083333vw;
}
.event_content.event6 .event-prize .prize-img {
  width: 23.07291667vw;
  height: 9.42708333vw;
}
.event_content.event6 .event-prize .prize-img.prize1 {
  background: url('~assets/images/event/event6/prize1.png') no-repeat;
  background-size: contain;
}
.event_content.event6 .event-prize .prize-img.prize2 {
  background: url('~assets/images/event/event6/prize2.png') no-repeat;
  background-size: contain;
}
