* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
}
ul,
li,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  outline: none;
}
.hide {
  display: none !important;
}
.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.transparent {
  opacity: 0;
}
